<a href='/'>Home</a>
<br><br><br>

{{#each links as |link|}}
	{{link.title}} <a href='{{link.url}}'>({{link.url}})</a>
	{{#each link.comments as |comment|}}
		<br>
		<div id='comment'> {{comment.user}} says: </div>
		{{comment.text}}
	<br><br>
	{{/each}}
{{/each}}

<form method='POST' action=''>
	Comments: <input type='text' name='comment' value=''>
	Names: <input type='text' name='name' value=''>
	<input type='submit' value='Add Comment'>
</form>
