<a href='/'>Home</a>

<center>
{{#each links as |link|}}
	<h1>{{link.title}}!!! <a href='{{link.url}}'>({{link.url}})</a></h1>
</center>
	<div id='coTitle'> <strong>Comments</strong> </div>
<div id='shift'>
	{{#each link.comments as |comment|}}
		<br>
		<div id='comment'> {{comment.user}} says: </div>
		{{comment.text}}
	<br><br>
	{{/each}}
{{/each}}

<form method='POST' action=''>
	Comments: <input type='text' name='comment' value=''>
	Names: <input type='text' name='name' value=''>
	<input type='submit' value='Add Comment'>
</form>

<div id='comment'> (The last comment you made was <i>{{sess}}</i>) </comment>
</div>
